* {
    margin: 0;
    padding: 0;
}
body {
    width: 994px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./images/bg.png");
}

img[alt="search"] {
    float:right;
    background-color: #A6A6A6;
    padding: 10px 15px;
}
img[alt="image"] {
    margin-right: 47px;
    margin-left: 47px;
}
h1 {
    font-size: 52px;
    font-family: "Terminal Dosis";
    color:#505050;
}
h2 {
    font-size: 28px;
    font-family: "Helvetica Neue";
    color:#606060;
}
nav {
    border-top: solid 1px #606060;
    border-bottom: solid 1px #606060;
    height: 59px;
    margin: 25px 0;
    background-color: #A6A6A6;
    line-height: 26px;
    font-family: "Helvetica Neue";
}
nav li{
    display: inline-block;
    padding: 15px;
}
nav li:nth-child(2):hover{
    
}

main h2:first-child {
    text-align: center;
    font-size: 28px;
    margin-top: 38px;
    margin-bottom: 22px;
}
main h2:nth-child(2){
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}
main p {
    margin-bottom: 30px;
}
main div {
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    height: 40px;
    background-color: #A6A6A6;
    margin-top: 30px
}
footer h2 {
    text-align: center;
    font-size: 13px;
    height: 75px;
    line-height: 65px;

}
footer div{
    border-top: 1px solid #606060;
    background-color: #A6A6A6;

}
footer ul {
    display: inline-block;
    width: 20%;
    vertical-align: text-top;
    height: 235px;
    font-family: "Helvetica Neue";
    margin-left: 2em;
    list-style-type: none;

}
footer li:first-child {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 20px;
}
footer li {
    font-size: 13px;

}
